<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fuck.viewtest">
    <uses-permission android:name="com.example.aidlserver.serv.BookService"/>
    <uses-permission android:name="com.example.aidlserver.serv.PoolService"/>
    <uses-permission android:name="com.example.aidlserver.serv.MessengerService"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".MainAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.taskt.FirstAty" />
        <activity
            android:name=".menu.taskt.SecondAty"
            android:launchMode="singleInstance" />
        <activity android:name=".menu.taskt.ThirdAty" />
        <activity android:name=".menu.taskt.FourAty" />
        <activity android:name=".menu.rv.RvAty" />
        <activity android:name=".menu.vp.VpAty" />
        <activity android:name=".menu.anim.AnimAty" />
        <activity android:name=".menu.win.WinAty" />
        <activity android:name=".menu.win.WindowAty" />
        <activity android:name=".menu.win.PopupWindowAty" />
        <activity android:name=".menu.serv.client.MyClientAty" />
        <activity android:name=".menu.serv.client.Client1Aty" />
        <activity android:name=".menu.serv.client.Client2Aty" />
        <activity android:name=".menu.serv.ServAty" />
        <activity android:name=".menu.broadcast.BroadcastAty" />
        <activity android:name=".menu.conprovider.ContentProviderAty" />
        <activity android:name=".menu.socket.client.SocketAty" />
        <activity android:name=".menu.cusview.ui.CusvAty" />
        <activity android:name=".menu.cusview.ui.ChildMarginViewGroupAty" />
        <activity android:name=".menu.cusview.ui.MyViewGroupAty" />
        <activity android:name=".menu.cusview.ui.PaddingViewGroupAty" />
        <activity android:name=".menu.img.ImgAty" />
        <activity android:name=".menu.rv.layoutmgr.StaggerAty" />
        <activity android:name=".menu.rv.itemdecor.RvFlagAty" />
        <activity android:name=".menu.rv.itemdecor.RvTimeAxisAty" />
        <activity android:name=".menu.scrollview.ScrollViewAty" />
        <activity android:name=".menu.v.VAty" />
        <activity android:name=".menu.eventbus.TomEventAty" />
        <activity android:name=".menu.eventbus.JerryEventAty" />
        <activity android:name=".menu.dialog.DialogAty" />
        <activity android:name=".menu.anno.AnnoAty" />
        <activity android:name=".menu.rv.swiperv.SwipeRvAty" />
        <activity android:name=".menu.mvvm.dragonx.DragonXAty" />
        <activity android:name=".menu.mvvm.MvvmAty" />
        <activity android:name=".menu.mvvm.geng.GenGAty" />
        <activity android:name=".menu.mvvm.rng.RngAty" />
        <activity android:name=".menu.mvvm.rng2.Rng2Aty" />
        <activity android:name=".menu.rxjava2.dispose.DisposeTestAty" />
        <activity android:name=".menu.leak.LeakTestAty" />
        <activity android:name=".menu.leak.HandlerCtxAty" />
        <activity android:name=".menu.leak.StaticCtxAty" />
        <activity android:name=".menu.leak.ThreadCtxAty" />
        <activity android:name=".menu.coroutine.CoroutineAty" />
        <activity android:name=".menu.mvp.MvpAty" />
        <activity android:name=".menu.scroll.ScrollAty" />
        <activity android:name=".menu.seria.SerialAty" />
        <activity android:name=".menu.aty.AtyAty" />
        <activity android:name=".menu.aidl.BookClientAty" />
        <activity android:name=".menu.aidl.PoolClientAty" />
        <activity android:name=".menu.aidl.MessengerClientAty" />
        <activity android:name=".menu.aidl.AIDLAty" />
        <activity android:name=".menu.surfaceview.SurfaceViewAty" />

        <provider
            android:name=".menu.conprovider.MyContentProvider"
            android:authorities="com.fuck.viewtest.menu.conprovider.MyContentProvider"
            android:exported="false" />

        <service android:name=".menu.serv.server.MyService" />
        <service android:name=".menu.serv.server.MyIntentService" />
        <service android:name=".menu.socket.serv.SocketService" />
    </application>


</manifest>