<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fuck.viewtest">

    <uses-permission android:name="com.example.aidlserver.serv.BookService" />
    <uses-permission android:name="com.example.aidlserver.serv.PoolService" />
    <uses-permission android:name="com.example.aidlserver.serv.MessengerService" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".MainAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.display.taskt.FirstAty" />
        <activity
            android:name=".menu.display.taskt.SecondAty"
            android:launchMode="singleInstance" />
        <activity android:name=".menu.display.taskt.ThirdAty" />
        <activity android:name=".menu.display.taskt.FourAty" />
        <activity android:name=".menu.view_.rv.RvAty" />
        <activity android:name=".menu.view_.vp.VpAty" />
        <activity android:name=".menu.view_.ViewAty" />
        <activity android:name=".menu.view_.anim.AnimAty" />
        <activity android:name=".menu.view_.framelayout.FrameLayoutAty" />
        <activity android:name=".menu.window.WinAty" />
        <activity android:name=".menu.window.WindowAty" />
        <activity android:name=".menu.window.PopupWindowAty" />
        <activity android:name=".menu.service.client.MyClientAty" />
        <activity android:name=".menu.service.client.Client1Aty" />
        <activity android:name=".menu.service.client.Client2Aty" />
        <activity android:name=".menu.service.ServAty" />
        <activity android:name=".menu.eventline.broadcast.BroadcastAty" />
        <activity android:name=".menu.datafile.conprovider.ContentProviderAty" />
        <activity android:name=".menu.net.socket.client.SocketAty" />
        <activity android:name=".menu.view_.cusview.CusvAty" />
        <activity android:name=".menu.view_.cusview.event.MyViewAty" />
        <activity android:name=".menu.view_.cusview.myviewgroup.ChildMarginViewGroupAty" />
        <activity android:name=".menu.view_.cusview.myviewgroup.MyViewGroupAty" />
        <activity android:name=".menu.view_.cusview.myviewgroup.PaddingViewGroupAty" />
        <activity android:name=".menu.img.ImgAty" />
        <activity android:name=".menu.codeframe.CodeFrameAty" />
        <activity android:name=".menu.view_.rv.ui.RvStaggerAty" />
        <activity android:name=".menu.view_.rv.ui.RvFlagAty" />
        <activity android:name=".menu.view_.rv.ui.RvTimeAxisAty" />
        <activity android:name=".menu.view_.rv.ui.RvDividerAty" />
        <activity android:name=".menu.view_.rv.ui.RvGridAty" />
        <activity android:name=".menu.view_.rv.ui.RvSlideDeleteAty" />
        <activity android:name=".menu.view_.rv.ui.RvDragExchangeAty" />
        <activity android:name=".menu.view_.scrollview.ScrollViewAty" />
        <activity android:name=".menu.view_.viewviewgroup.VAty" />
        <activity android:name=".menu.eventline.eventbus.TomEventAty" />
        <activity android:name=".menu.eventline.eventbus.JerryEventAty" />
        <activity android:name=".menu.view_.rv.ui.RvHorizontalListAty" />
        <activity android:name=".menu.display.dialog.DialogAty" />
        <activity android:name=".menu.anno.AnnoAty" />
        <activity android:name=".menu.view_.rv.ui.RvSwipeAty" />
        <activity android:name=".menu.codeframe.mvvm.simplemvvm.SimpleMvvmAty" />
        <activity android:name=".menu.codeframe.mvvm.MvvmAty" />
        <activity android:name=".menu.codeframe.mvvm.mediatorLivedata.geng.GenGAty" />
        <activity android:name=".menu.codeframe.mvvm.mediatorLivedata.geng2.GenG2Aty" />
        <activity android:name=".menu.codeframe.mvvm.mediatorLivedata.rng.RngAty" />
        <activity android:name=".menu.codeframe.mvvm.mediatorLivedata.rng2.Rng2Aty" />
        <activity android:name=".menu.concurent.rxjava2.dispose.DisposeTestAty" />
        <activity android:name=".menu.leak.LeakTestAty" />
        <activity android:name=".menu.leak.HandlerCtxAty" />
        <activity android:name=".menu.leak.StaticCtxAty" />
        <activity android:name=".menu.leak.ThreadCtxAty" />
        <activity android:name=".menu.concurent.coroutine.CoroutineAty" />
        <activity android:name=".menu.codeframe.mvp.MvpAty" />
        <activity android:name=".menu.view_.scroll.ScrollAty" />
        <activity android:name=".menu.datafile.seria.SerialAty" />
        <activity android:name=".menu.datafile.res.ResAty" />
        <activity android:name=".menu.display.aty.AtyAty" />
        <activity android:name=".menu.aidl.BookClientAty" />
        <activity android:name=".menu.aidl.PoolClientAty" />
        <activity android:name=".menu.aidl.MessengerClientAty" />
        <activity android:name=".menu.aidl.AIDLAty" />
        <activity android:name=".menu.view_.surfaceview.SurfaceViewAty" />
        <activity android:name=".menu.view_.webview.WebAty" />
        <activity android:name=".menu.img.bitmap.BitmapAty" />
        <activity android:name=".menu.img.drawable.DrawableAty" />
        <activity android:name=".menu.img.glide.GlideAty" />
        <activity android:name=".menu.img.fresco.FrescoAty" />
        <activity android:name=".menu.view_.textview.TextAty" />

        <provider
            android:name=".menu.datafile.conprovider.MyContentProvider"
            android:authorities="com.fuck.viewtest.menu.datafile.conprovider.MyContentProvider"
            android:exported="false" />

        <service android:name=".menu.service.server.MyService" />
        <service android:name=".menu.service.server.MyIntentService" />
        <service android:name=".menu.net.socket.serv.SocketService" />
    </application>


</manifest>