<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fuck.viewtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".MainAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".taskt.FirstAty" />
        <activity
            android:name=".taskt.SecondAty"
            android:launchMode="singleInstance" />
        <activity android:name=".taskt.ThirdAty" />
        <activity android:name=".taskt.FourAty" />
        <activity android:name=".rv.RvAty" />
        <activity android:name=".vp.VpAty" />
        <activity android:name=".anim.AnimAty" />
        <activity android:name=".win.WinAty" />
        <activity android:name=".serv.client.ServAty" />
        <activity android:name=".broadcast.BroadcastAty" />
        <activity android:name=".conprovider.ContentProviderAty" />
        <activity android:name=".socket.client.SocketAty" />
        <activity android:name=".cusview.ui.CusvAty" />
        <activity android:name=".img.ImgAty" />
        <activity android:name=".rv.layoutmgr.StaggerAty" />
        <activity android:name=".rv.itemdecor.RvFlagAty" />
        <activity android:name=".rv.itemdecor.RvTimeAxisAty" />
        <activity android:name=".scrollview.ScrollViewAty" />
        <activity android:name=".v.VAty" />
        <activity android:name=".eventbus.TomEventAty" />
        <activity android:name=".eventbus.JerryEventAty" />
        <activity android:name=".dialog.DialogAty" />
        <activity android:name=".anno.AnnoAty" />
        <activity android:name=".rv.swiperv.SwipeRvAty" />
        <activity android:name=".mvvm.dragonx.DragonXAty" />
        <activity android:name=".mvvm.MvvmAty" />
        <activity android:name=".mvvm.geng.GenGAty" />
        <activity android:name=".mvvm.rng.RngAty" />
        <activity android:name=".rxjava2.dispose.DisposeTestAty" />
        <activity android:name=".leak.LeakTestAty" />
        <activity android:name=".leak.HandlerCtxAty" />
        <activity android:name=".leak.StaticCtxAty" />
        <activity android:name=".leak.ThreadCtxAty" />
        <activity android:name=".coroutine.CoroutineAty" />
        <activity android:name=".mvp.MvpAty" />
        <activity android:name=".scroll.ScrollAty" />
        <activity android:name=".seria.SerialAty" />
        <activity android:name=".aty.AtyAty" />

        <provider
            android:name=".conprovider.MyContentProvider"
            android:authorities="com.fuck.viewtest.conprovider.MyContentProvider"
            android:exported="false" />

        <service android:name=".serv.server.MyService" />
        <service android:name=".serv.server.MyIntentService" />
        <service android:name=".socket.serv.SocketService" />
    </application>


</manifest>